.footer {
    background: #2F303A;
    text-decoration: none;
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
    .conteiner {
        display: flex;
    }
     }
    
    .footer-cont{
        margin-right: 70px;
    }
    
     .logo__footer{
        display: inline-block;
        margin-bottom: 20px;
     }
    
     .logo--light{
         color: var(--color-main);
     }
    
     .footer-space{
        &:not(:last-child){
            margin-bottom: 9px;
        }
     }
     
    .footer-item-map {
        color: var(--color-main);
        display: inline-block;
        text-decoration: none;
         }
        
    .footer-item-mail {
        color: rgba(255, 255, 255, 0.6);
        display: inline-block;
        text-decoration: none;
         }
        
        .footer-tel {
        color: rgba(255, 255, 255, 0.6);
        display: inline-block;
        text-decoration: none;
         }
        
        .footer-icon{
            align-items: baseli;
    }
    
    .footer-icon-text{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 20px;
    }
    
    .footer-icon-box{
        display: flex;
        justify-content: center;
    }
    
    .footer-icon-cl{
        width: 44px;
        height: 44px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover, &:focus{
            background-color: #2196F3;
        } 
    }
    
    .footer-icon-ram{
        fill: #ffffff;
    }
    
    .footer-icon-part{
        &:not(:last-child){
            margin-right: 10px;
        }
     }
    
    
    .footer-mail-box{
        display: flex;
        margin-left: 93px;
        position: relative;
    }
    
    .footer-mail{
       font-weight: 700;
       font-size: 14px;
       line-height: 1.14;
       letter-spacing: 0.03em;
       color: #FFFFFF;
       margin-bottom: 20px;
    }
    
    .footer-mail-wind{
       width: 358px;
       height: 50px;
       border: 1px solid rgba(255, 255, 255, 0.3);
       box-sizing: border-box;
       filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
       border-radius: 4px;
       background: #2F303A;
       padding-left: 16px;
       font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }
    
    .footer-mail-cl{
       width: 200px;
       height: 50px;
       font-weight: 700;
       font-size: 16px;
       line-height: 1.88;
       color: #FFFFFF;
       background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 36px;
        left: 370px;
        border: none;
    }
    
    .send{
    margin-left: 10px;
    }